<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
<div th:insert="header :: header"></div>

<div class="container checkout-container mt-4">
    <h1 class="checkout-header" style="color: #FF4500;font-weight: 700">Checkout</h1>
    <hr>
    <div th:if="${cart != null}">
<!--        infor cart-->
        <h3>Cart ID: <span th:text="${cart.id}"></span></h3>
        <ul class="list-group">
            <li class="list-group-item" th:each="item : ${cart.items}">
                <span th:text="${item.name}"></span> - <span th:text="'$' + ${item.price}"></span>
                <input type="number" class="form-control" th:value="${item.quantity}" min="1" readonly>
            </li>
            <div>
                <p class="card-text mt-3 text-center total">Total: <span  th:text="'$' + ${cart.totalPrice}">$0.00</span></p>
            </div>
        </ul>
<!--        info buyer-->
        <div class="checkout-summary card mt-3">
            <div class="card-body">
                <h5 class="card-title">Order Summary</h5>

                <form th:action="@{/order/checkout}" method="post">
                    <div class="form-group">
                        <label >Name</label>
                        <input type="text" class="form-control" th:value="${customerData.name}" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" th:value="${customerData.email}" required>
                    </div>
                    <div class="form-group">
                        <label >Phone</label>
                        <input type="text" class="form-control" th:value="${customerData.phone}" required>
                    </div>
                    <div class="form-group">
                        <label >Address</label>
                        <input type="text" class="form-control" th:value="${customerData.address}" required>
                    </div>
                    <div class="form-group">
                        <label for="paymentMethod">Payment Method</label>
                        <select class="form-control" id="paymentMethod" name="paymentMethod" readonly>
                            <option value="Credit Card">Credit Card</option>
                            <option value="PayPal">PayPal</option>
                            <option value="Delivery Drone">Delivery By Drone</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" style="background: #FF4500;border-color: #FF4500">Proceed to Checkout</button>
                </form>
            </div>
        </div>
    </div>
    <a th:href="@{/}" class="btn btn-secondary mt-3">Back to Home</a>
</div>
<style>
    .checkout-container {
        max-width: 600px;
        margin: auto;
    }
    .checkout-header {
        text-align: center;
        margin-bottom: 20px;
    }
    .checkout-summary {
        margin-top: 20px;
    }
    .total {
        margin-bottom: 20px;
        font-weight: 800;
        font-size: 25px;
    }
</style>
<div th:insert="footer::footer" ></div>
</body>
</html>
