<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<body>
<header class="text-white" style="background: #FF4500">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand text-white" href="/">My Shoping</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Category</a>
                </li>

            </ul>

            <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                <input class="form-control mr-sm-2" type="text" placeholder="Search item..." name="keyword"  th:value="${keyword}">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>

            <ul class="navbar-nav ml-auto">
                <div th:if="${customerData != null}">
                    <li class="nav-item">
                        <p class="nav-link text-white">Hi, <span th:text="${customerData.name}"></span>!</p>
                    </li>
                </div>
                <span class="nav-link text-white" style="height: auto">|</span>
                <div th:if="${customerData != null and customerData.username == 'admin'}">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/item/add">Add Product</a>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/carts">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/orders">My orders</a>
                </li>
                <div th:if="${customerData == null}">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login">Login</a>
                    </li>
                </div>
                <div th:if="${customerData != null}">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/logout">Logout</a>
                    </li>
                </div>
            </ul>

        </div>
    </nav>
</header>


