<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<body>
<header class="text-white" style="background: #FF4500">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand text-white" href="/">My Shopee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Home</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                <input class="form-control mr-sm-2" type="text" placeholder="Search item..." name="keyword"  th:value="${keyword}">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/item/add">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/carts">Cart</a>
                </li>
            </ul>

        </div>
    </nav>
</header>

